html, body {
    height: 100%;
    margin: 0;
}

body 
{ 
	font-family: -apple-system, sans-serif;
	text-align: center;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
}

header
{
    background-image: linear-gradient(rgb(0, 119, 255), rgb(19, 242, 250));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight: bold;
	font-size: 50px;
}

#bck
{
    min-height: 100%; 
    background-image: linear-gradient(rgb(54, 53, 53),rgb(22, 22, 22));
}

#Icon
{
    border-radius: 35px;
}

.button
{
    background: -webkit-linear-gradient(135deg,#459cff,#0077ff);
    position: relative;
    top: 0;
    transition: top ease 0.5s;
}

.button:link, .button:visited
{
    text-decoration: none;
    color: white;
    box-shadow: 0 0 0 0 transparent;
    border-radius: 25px;
    padding: 15px;
}

.button:hover, .button:active 
{
    top: -5px;
}